<body>
  <div class="cards">
    <h1>Nosso Time</h1>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/img/renataDev.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Renata Pedroso</h3>
                      <p class="card-text">Gerente de Projetos</p>
                  </div>        
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/img/erickDev.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Erick Dos Santos</h3>
                      <p class="card-text">Desenvolvedor Front-end</p>
                  </div>    
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/img/felipeDev.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Felipe Moraes</h3>
                      <p class="card-text">Desenvolvedor Front-end</p>
                  </div>        
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/img/myllenaDev.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Myllena</h3>
                      <p class="card-text">Designer</p>
                  </div>     
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/img/pedroDev.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Pedro Lucas</h3>
                      <p class="card-text">Scrum Master</p>
                  </div>        
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/wallyDev.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Wallison</h3>
                        <p class="card-text">Cloud and Database Manager</p>
                    </div>      
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/fabioDev.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Fabio Athos</h3>
                        <p class="card-text">Alguém que é o dev mobile</p>
                    </div>        
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/ricardoDev.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Ricardo Silva</h3>
                        <p class="card-text">Desenvolvedores Back-end</p>
                    </div>        
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/gustavoDev.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Gustavo Silva</h3>
                        <p class="card-text">Desenvolvedores Back-end</p>
                    </div>        
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/kevinDev.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Kevin Bizzi</h3>
                        <p class="card-text">Product O</p>
                    </div>        
                </div>
              </div>
      </div>
  </div>  
</body>