<div class="footer">
    <h3>
        Nos acompanhe em nossas redes sociais:
    </h3>
    <div class="redessociais">
        <button class="button">
            <img src="assets/img/instagram.png" alt="" class="imgButton">
        </button>
        <button class="button">
            <img src="assets/img/linkedin.png" alt="" class="imgButton">
        </button>
        <button class="button">
            <img src="assets/img/youtube.png" alt="" class="imgButton">
        </button>
    </div>
    <div class="dev">
        <a>Desenvolvido por: Healthy Eats</a>
    </div>
</div>
