<div class="aboutApp">
    <p>Em sua maioria, os macronutrientes são nutrientes que ajudam a fornecer energia e o organismo precisa deles em grande quantidade. Água, carboidratos, gorduras e proteínas são classificados como macronutrientes.<br>
        Os carboidratos evitam que as proteínas dos tecidos sejam utilizadas para o fornecimento de energia. Os da categoria simples estão presentes no açúcar e no mel; já entre os complexos estão pão, arroz, milho e massa.<br>
        As gorduras protegem os órgãos contra lesões, ajuda a manter a temperatura do corpo, a absorver algumas vitaminas e a dar sensação de saciedade.  Já as proteínas são necessárias para o crescimento, construção e reparação dos tecidos e estão presentes também na constituição das células. Elas também estão na composição dos anticorpos do sistema imunológico.
    </p>
</div>
