.button{
    padding-bottom: 15em;
}
.button button{
    position: relative;
    width: 500px;
    height: 70px;
    left: 36em;
    margin-top: 1em;
    margin-bottom: 20px;
    color:#43aada;
    border-color: #43aada;
    background-color: white;
}

.button button:hover{
    transition: all 400ms ease;
    background-color: #43aada;
    color: white;
}