<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
</head>
<div class="titles">
    <div class="titleSubtitle">
        <h1>Heathy Eats</h1>
        <h3>Cansado de gastar horas realizando contados macro
            nutrientes que precisa consumir por dia?<br>O Healthy Eats
            está aqui para te ajudar! Vamos construir uma rotina de alimentação saudável juntos?</h3>
    </div>
</div>

