.titleSubtitle{
    text-align: center;
    padding: 5% 10% 0% 10%;
    margin-top: 4%;
}

.titleSubtitle h1{
    font-size: 3.3rem;
    font-family: 'Mochiy Pop One', sans-serif;
    padding-bottom: 5%;
    color: #f0f7ff;
    font-stretch: expanded;
}
.titleSubtitle h3{
    margin-bottom: 0%;
    font-size: 1.8rem;
    color: #f0f9ffeb;
}


