<div class="slider">
    <div class="aboutApp">
      <p>Na nutrição existem muitas dietas, opiniões e informações contrárias umas às outras, isso pode levar à desinformação ou a dúvidas em relação ao processo de uma alimentação saudável. 
        Tendo isso em vista, o aplicativo irá fornecer inúmeras opções diferentes de cardápios, dietas e alimentação baseadas em dados científicos e a opções que o usuário decidir incluir para personalizar ainda mais o seu atendimento.
        Buscamos auxiliar a rotina alimentar de pessoas que buscam uma melhor qualidade de vida e que pretendem seguir uma dieta efetiva e capaz de impulsionar os resultados desejados por cada pessoa.
      </p>
    </div>
</div>

